// .custom-container-about {
//     max-width: 1170px;
//     margin-left: auto;
//     margin-right: auto;
//     @include media-max("tablet") {
//         max-width: 993px;
//         padding-right: 24px;
//         padding-left: 24px;
//     }
//     @include media-max("phone-up") {
//         max-width: 767px;
//     }
// }

section.about-wrapper {
    padding: 10%;    
    background-color: $black;
    overflow-y: hidden;
    height: 400vh;

    .history-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3em;

        h1 {
            @include flex(flex-start);
            font-size: 2em;
            gap: 0.5em;
            color: white;
            span {
                height: 10px;
                width: 10px;
                border-radius: 100%;
                background-color: $brown;
            }
        }

        .timeline-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1em;

            .panels-wrapper {
                display: flex;
                flex-wrap: nowrap;
                gap: 2em;
                width: 100%;
                overflow: hidden;

                .timeline-item {
                    flex: 0 0 auto;
                    max-width: 40vw;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    background-color: red;
                    gap: 1em;
                    padding: 2em;
    
                    p {
                        color: white;
                    }
    
                    p.timeline-item-title {
                        font-size: 1.5em;
                    }
                }
            }

            .date-wrapper {
                position: relative;
                display: flex;
                flex-wrap: nowrap;
                overflow: hidden;
                width: 100%;
                background-color: green;

                #date-selector {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);

                }

                p.date-panel {
                    color: white;
                    flex: 0 0 auto;
                    width: 40vw;
                    padding: 2em;
                }
            }
        }
    }
}