footer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $light-black;
    gap: 1em;
    overflow: hidden;
    position: relative;

    .logo-footer {
        a {
            img {
                width: 20vw;
                height: auto;

                @include media-max('tablet') {
                    width: 40vw;
                }
            }
        }
    }

    .anchor-links-footer {
        @include flex(space-between);
        flex-wrap: wrap;
        gap: 1em;

        @include media-max('tablet') {
            padding: 0 5%;
        }

        a {
            position: relative;
            text-decoration: none;
            color: white;

            &::after {
                content: '';
                position: absolute;
                width: 0%;
                bottom: -3px;
                border-radius: 5px;
                left: 0;
                right: 0;
                height: 2px;
                margin-top: 0.3em;
                background-color: white;
                transition: all 0.2s ease-in-out;
              }
    
              &:hover {
                &::after {
                  width: 100%; 
                }
              }
        }
    }
}