section.home_wrapper {
    height: 100%;
    .sea-wrapper {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        overflow: hidden;

        .svg-trigger {
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            pointer-events: none;
            opacity: 0;
            transition: 0.2s ease-in-out opacity;
            width: 5%;

            .svg-arrow-wrapper {
                position: absolute;
                top: -45%;
                left: 47%;
                transform: translateX(-50%);
            }

            p {
                color: white;
                text-align: center;
                transition: 0.2s all ease-in-out;
            }

            &:hover {
                p {
                    opacity: 0;
                }
            }

            &.display-content {
                pointer-events: all;
            }
        }

        .top-sea-home {
            width: 100%;
            height: auto;
            z-index: -1;
        }
    }

    .activate-sound-wrapper {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        position: absolute;
        bottom: -25%;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        width: 100%;
        z-index: 80;

        h1 {
            font-size: 2.5em;
            text-align: center;
            color: white;
            font-family: 'Helvetica Now', sans-serif;
            font-weight: bold;

            span {
                color: $brown;
            }
        }

        p {
            font-size: 1.5em;
            text-align: center;
            color: white;
            margin-top: 0.5em;
        }
    }

    .subtitles-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        gap: 3em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        height: 50vh;
        width: 70vw;
        overflow: hidden;
        z-index: 70;
        padding: 5em;

        .subtitles-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            p {
                color: white;
                text-align: center;
                width: 100%;
                font-size: 1.5em;
                opacity: 0.5;
            }
        }
    }
}

.cta-wrapper {
    @include flex(space-between);
    gap: 1.5em;

    &.cta-subtitles {
        opacity: 0;
        transform: translateY(10%);
        pointer-events: none;
        width: 100%;
        justify-content: center;
        margin-top: 2em;

        a {
            text-decoration: none;
        }
    }
}