section.realisations-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .controllers-wrapper {
        position: absolute;
        padding: 0 3%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;

        &.controller-left {
            left: -2%;
        }

        &.controller-right {
            right: -3%;
        }

        .controller {
            position: relative;
            cursor: pointer;

            .arrow-previous, .arrow-next {
                width: 80%;
            }

            .arrow-previous {
                rotate: 180deg;
            }

            p {
                opacity: 0;
                color: white;
                font-weight: 700;
                position: absolute;
                top: 30%;
                transform: translateY(-50%);
                transition: all 0.1s ease-in;
                min-width: 80px;

                &:first-child {
                    left: -40%;
                }
                &:last-child {
                    left: -10%;
                }   
            }
            &:hover {
                p {
                    opacity: 1;
                }
            }
        }
    }

    #morphing-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110%;
    }

    .category-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        position: fixed;
        inset: 0;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 8% 0;
    
        .description-wrapper {
            p {
                text-align: center;
                color: white;
            }
        }


        .gray-filter {
            position: absolute;
            inset: 0;
            background-color: rgba($color: #090909, $alpha: 0.5);
            backdrop-filter: blur(7px);
            z-index: -1;
        } 
    }

    .title-wrapper {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5em;
        display: flex;
        text-decoration: none;
        flex-direction: column;
        align-items: center;
        gap: 0.8em;
        z-index: 101;
        will-change: transform;

        &:hover {
            h1 {
                transform: translate3d(0,-0.5rem,0);
            }

            h2 {
                transform: translate3d(0,0.5rem,0);
            }
        }

        h2 {
            font-weight: 400;
            font-size: 1em;
            transition: transform 1.2s cubic-bezier(.19,1,.22,1);
        }
        h1 {
            font-size: 3em;
            width: 50vw;
            transition: transform 1.2s cubic-bezier(.19,1,.22,1);
        }
        h1, h2 {
            text-align: center;
            color: white;
        }
    }
}



