.realisations-wrapper {
    height: 100vh;
    width: 100vw;

    .controllers-wrapper {
        @include flex(space-between);
        position: absolute;
        padding: 0 3%;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        z-index: 990;

        .controller {
            position: relative;
            cursor: pointer;
            p {
                opacity: 0;
                color: white;
                font-weight: 700;
                position: absolute;
                top: 30%;
                transform: translateY(-50%);
                transition: all 0.1s ease-in;
                min-width: 80px;

                &:first-child {
                    left: -40%;
                }
                &:last-child {
                    left: -10%;
                }   
            }
            &:hover {
                p {
                    opacity: 1;
                }
            }
        }
    }

    .category-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        position: fixed;
        inset: 0;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10% 0;

        .gray-filter {
            position: absolute;
            inset: 0;
            background-color: rgba($color: #090909, $alpha: 0.5);
            backdrop-filter: blur(7px);
            z-index: -1;
        } 

        .title-wrapper {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            h2 {
                font-weight: 400;
                font-size: 1em;
            }
            h1 {
                font-size: 3em;
            }
            h1, h2 {
                color: white;
            }
        }

        .description-wrapper {
            p {
                text-align: center;
                color: white;
            }
        }
    }
}