section.work-wrapper {
    position: relative;
    background: $black;

    @include media-max('tablet') {
        padding-bottom: 30%;
        z-index: 50;
    }

    .work-template {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        padding-right: 10%;
        inset: 0;
        // z-index: -1;
        background-color: $black;

        @include media-max('tablet') {
            display: none;
        }

        h1 {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            gap: 0.5em;
            font-size: 2em;
            font-weight: 700;
            color: white;
            padding: 2em;

            @include media-max('tablet') {
                padding: 4em 1em;
                font-size: 1.5em;
            }

            span {
                height: 13px;
                width: 13px;
                border-radius: 100%;
                background-color: $brown;

                @include media-max('tablet') {
                    width: 7%;
                    padding-bottom: 5%;
                    border-radius: 50%;
                }
            }
        }

        .background-wrapper {
            height: auto;
            width: 70vw;
            aspect-ratio: 2/1;
            border-radius: 40px;
            filter: blur(40px);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 60%;

            @include media-max('tablet') {
                // width: 80vw;
                display: none
            }
        }
    }

    .mobile-title {
        display: none;

        span {
            display: none;
            height: 13px;
            width: 13px;
            border-radius: 100%;
            background-color: $brown;

            @include media-max('tablet') {
                display: block;
                width: 7%;
                padding-bottom: 7%;
                border-radius: 50%;
            }
        }

        @include media-max('tablet') {
            display: flex;
            gap: 1em;
            align-items: center;
            padding-right: 10%;
            padding-left: 10%;
            padding: 4em 1em;
            font-size: 1.5em;
            color: white;
            margin-bottom: -50%;
        }
    }

    .work {
        @include flex(center);
        height: 100vh;
        padding-left: 10%;

        @include media-max('tablet') {
            padding-right: 10%;
            // height: 100dvh;
            margin-top: 45%;
            align-items: flex-start;
            height: fit-content;
            padding-bottom: 20%;
        }

        .card-wrapper-transform {
            position: relative;
            perspective: 800px;
            opacity: 0;
            .cta-more-wrapper {
                position: absolute;
                bottom: 10%;
                right: 10%;
                .cta-more {
                    position: relative;
                    height: 10vw;
                    width: 10vw;
                    cursor: pointer;

                    @include media-max('tablet') {
                        height: 25vw;
                        width: 25vw;
                    }

                    &:hover {
                        .inner-circle {
                            height: 100%;
                            width: 100%;
                        }

                        .outer-circle {
                            opacity: 0;
                        }

                        p {
                            font-size: 1.2em;

                            @include media-max('tablet') {
                                font-size: 1em !important;
                            }
                        }

                        .hidden-circle {
                            opacity: 1;
                            height: 60%;
                            width: 60%;
                        }
                    }

                    p {
                        color: white;
                        font-weight: 700;
                        text-transform: uppercase;
                        transition: all 0.2s ease-in-out;
                    }
                    .outer-circle, .inner-circle, p, .hidden-circle {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .outer-circle {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        border: 2px solid white;
                        opacity: 1;
                        transition: all 0.15s ease-in;
                    }

                    .hidden-circle {
                        height: 0%;
                        width: 0%;
                        border-radius: 50%;
                        opacity: 0;
                        border: 2px solid white;
                        transition: all 0.2s ease-in-out;
                    }

                    .inner-circle {
                        height: 60%;
                        width: 60%;
                        border-radius: 50%;
                        border: 2px solid white;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }

            .content-card-wrapper {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                position: absolute;
                bottom: 0;
                left: -10%;
                width: 60%;

                @include media-max('tablet') {
                    width: 90%;
                    bottom: -110%;
                    left: 50%;
                    transform: translateX(-50%);
                }

                h1 {
                    font-size: 2.5em;
                    color: white;
                    text-transform: uppercase;

                    @include media-max('tablet') {
                        font-size: 1.5em;
                    }
                }
    
                p {
                    color: white;
                    line-height: 1.3em;
                }
            }
            .card-wrapper {
                position: relative;
                width: 45vw;
                height: auto;
                aspect-ratio: 2/1;
                transform: rotateX(5deg) rotateY(-4deg) rotateZ(3deg);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 35px;
                filter: blur(2px);
                z-index: -1;

                @include media-max('tablet') {
                    width: 85vw;
                    transform: rotateX(28deg) rotateY(-23deg) rotateZ(15deg) !important;
                }

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    border-radius: 35px;
                    background: linear-gradient(0deg, rgb(0 0 0 / 80%) 0%, rgb(255 255 255 / 10%) 100%);
                }
            }
        }
    }
}